/* ========================= */
/* GENERAL                   */
/* ========================= */

body {

    margin: 0;

    font-family: Arial, sans-serif;

}


#game {

    width: 800px;

    max-width: 95%;

    margin: 30px auto;

}


/* ========================= */
/* ROOMS                     */
/* ========================= */

.room {

    position: relative;

    width: 100%;

    height: 500px;

    overflow: hidden;

}


/* Hide rooms when not being used */

.hidden {

    display: none;

}


/* ========================= */
/* CLICKABLE OBJECTS         */
/* ========================= */

.object {

    position: absolute;

    background: transparent;

    border: none;

    cursor: pointer;

}

/* ========================= */
/* Bedroom               */
/* ========================= */

#bedroom {
    
    background-image: url("images/bedroom.png");

    background-size: cover;

    background-position: center;

}


/* cat */

#cat {

    left: 30%;
    top: 50%;

    width: 35%;
    height: 30%;

}


/* ========================= */
/* cat ZOOM                 */
/* ========================= */

#catZoom {

    background-image: url("images/cat_in_bedroom.png");

    background-size: cover;

    background-position: center;

}


/* ========================= */
/* ROOM 2                    */
/* ========================= */

#room2 {

    background-image: url("images/stairway.png");

    background-size: cover;

    background-position: center;

}


/* Paper */

#paper {

    width: 150px;

    height: 200px;

    left: 320px;

    top: 150px;

    background-color: white;

}


/* ========================= */
/* BACK BUTTON               */
/* ========================= */

.backButton {

    position: absolute;

    top: 20px;

    left: 20px;

    z-index: 10;

    padding: 10px 20px;

    background-color: #222;

    color: white;

    border: none;

    cursor: pointer;

}


.backButton:hover {

    background-color: #444;

}


/* ========================= */
/* MESSAGE                   */
/* ========================= */

#message {

    min-height: 50px;

    padding: 15px;

    box-sizing: border-box;

    background-color: white;

}


/* ========================= */
/* INVENTORY                 */
/* ========================= */

#inventory {

    min-height: 60px;

    padding: 15px;

    box-sizing: border-box;

    background-color: #222;

    color: white;

}


#inventoryItems {

    color: white;

}